<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prontuario Eletronico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="Alessandro" content="">
    
    <!-- Le styles -->
    {{ form.media }}
    <link href="http://globocom.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 250px;
        padding-bottom: 250px;
        background-image: linear-gradient(black,green,yellow);
      }
    </style>
    <link href="http://globocom.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="assets/datepicker/css/datepicker.css" media="screen"/>
    
    <script type="text/javascript" src="assets/js/jquery-1.7.1.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://globocom.github.io/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" >Prontuario Eletronico</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/inicio">Inicio</a></li>

			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paciente<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/inicio/cadastro">Novo Paciente</a></li>
                  <li class="divider"></li>
                  <li><a href="/inicio/lista">Lista de Pacientes</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prontuario<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/prontuario/cadastro/">Novo Prontuario</a></li>
                  <li class="divider"></li>
                  <li><a href="/prontuario/lista">Lista de Prontuarios</a></li>
                </ul>
              </li>

			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Remedios<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/remedio/cadastro/">Novo Remedios</a></li>
                  <li class="divider"></li>
                  <li><a href="/remedio/lista/">Lista de Remedios</a></li>
                  </ul>
              </li>

            </ul>
            <form class="navbar-form pull-right">
			<div class="nav-collapse collapse">
			  <ul class="nav">
				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/auth/user/{{ user.pk}}/">Alterar Dados</a></li>
                  <li><a href="/admin/auth/user/{{ user.pk}}/password/">Alterar Senha</a></li>
                  <li><a href="/sair/">Sair</a></li>

                </ul>
              </li>
			  </ul>
              </div>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>




       <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>


         <hr>

      <footer>
        <p>&copy; Grupo Martins 2015</p>
      </footer>
      </div>





    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://globocom.github.io/bootstrap/assets/js/jquery.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://globocom.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>


   <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="assets/datepicker/js/bootstrap-datepicker.pt-BR.js"></script>
    
  
    {% if multiple %}
        <script type="text/javascript">
            addEvent(window, "load", function(e) {
                SelectFilter.init("id_{{ field }}", "{{ field }}", 0, "/media/");
            });
        </script>
    {% endif %}



  </body>
</html>
