{% extends "base.html" %}


{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Bem Vindo ao Prontuario Eletronico</h1>
        <p align="middle">Registro hospitalar para o melhor cuidar!</p>

      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Lista de Paciente</h2>
          <p>Acessar a lista de pacientes, ja cadastrador no sistema.
		  Podendo atualizar as formações do paciente e cadastrar um novo paciente. </p>
          <p><a class="btn" href="/inicio/lista">Acessar agora &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Prontuarios</h2>
          <p>Acessar a lista de Prontuarios, ja cadastrados no sistema com todas as informações dos pacientes.</p>
          <p><a class="btn" href="/remedio/lista">Acessar agora &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Remedios</h2>
          <p>acessa a lista de remedios cadastrados, no sistema.</p>
          <p><a class="btn" href="#">Acessar agora &raquo;</a></p>
        </div>
      </div>

     {% endblock content %}
