{% extends "base.html" %}


{% block content %}

<div class="container">
 <div class="hero-unit" >
     <h2>Tem certeza que deseja deletar o Medicamento {{ object.descricao_Medicamento }}?</h2>
     <h1></h1>
     <h1></h1>

     
    <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

            <button type="submit">Excluir</button>
        </form> 

  </div>  
<form action="/remedio/lista" method="GET">
               

            <button type="submit">Voltar</button>
        </form> 


</div>












     {% endblock content %} 