{% extends "base.html" %}


{% block content %}

<div class="container">
 <div class="hero-unit" >


 
     <h2>Lista de Pacientes</h2>
     <h1></h1>
     <h1></h1>
    {% csrf_token %}
    <form class="form-search" name="pesquisar" id="pesquisar" action="/inicio/lista/" method="GET">
          <div class="input-append">
            <input id="search_box" name="search_box" type="text" placeholder="Pesquisar..." class="form-control">
             <button class="btn" type="button"><i class="icon-search"></i></button>
         </div>
    </form>

<table class="table table-striped">

<thead>
                <tr>
                  <th>Numero do Cartão SUS</th>
                  <th>Nome</th>
                  {% if perms.atendimentos.change_paciente%}
                  <th>Editar</th>
                  {% endif %}
                  {% if perms.atendimentos.delete_paciente%}
                  <th>Excluir</th>
                  {% endif %}
                </tr>
              </thead>
 <tbody>
{% if perms.atendimentos%}
{% csrf_token %}
{% for Paciente in object_list %}
<tr>
<td><a href="/inicio/detail/{{Paciente.pk}}">{{ Paciente.cartao_SUS }}</a></td>
<td>{{ Paciente.nome}}</td>
{% if perms.atendimentos.change_paciente%}
<td><a href="/inicio/edit/{{Paciente.pk}}"><i class="icon-edit"></i></td></a>
{% endif %}
{% if perms.atendimentos.delete_paciente%}
<td> <a  href="/inicio/delete/{{Paciente.pk}}" class="icon-remove"></i></a></td>
{% endif %}
</tr>
{% endfor %}
{% endif %}
<tbody>
</table>




<script type="text/javascript">

$(document).ready(function () {

  // executar quando uma tecla esta apertada no input com class "keywords"
  
  $(".keywords").keyup(function (e) {
    if ($(".keywords").val().length > 2) {
      // se tem mais de 2 caracteros, pode iniciar o ajax
      
      var url = '/inicio/buscar/'
      var data = {keywords: $(".keywords").val()};
      
      // ajax call
      
      $.ajax({
        dataType: "json",
        url: url,
        type: "POST",
        data: data,
        success: function (data) {
           $("div#content").empty()

           var html_result =  "<table class=\"table table-condensed\">";
           html_result += "<tr>";
           html_result += "<th>Usuario</th>";
           html_result += "<th>SUS</th>";
           html_result += "</tr>";
           $.each(data, function () {
            html_result += "<tr>";
            html_result += "<td>" + this.id_usuario + "</td>";
            html_result += "<td>" + this.nome + "</td>";
            html_result += "<td>" + this.sus + "</td>";
            html_result += "</tr>";
           });
           html_result += "</table>";
           $("div#content").append(html_result);
        },
        error: function (response) {
          console.log("AJAX ERROR");
        }
      });
    }
  });
  
}); 
</script>






     {% endblock content %} 