{% extends "base.html" %}


{% block content %}

<div class="container">
 <div class="hero-unit" >


 
     <h2>Lista de Pacientes</h2>
     <h1></h1>
     <h1></h1>
    {% csrf_token %}
    <form class="form-search" name="pesquisar" id="pesquisar" action="/inicio/lista/" method="GET">
          <div class="input-append">
            <input id="search_box" name="search_box" type="text" placeholder="Pesquisar..." class="form-control">
             <button class="btn" type="button"><i class="icon-search"></i></button>
         </div>
    </form>

<table class="table table-striped">

<thead>
                <tr>
                  <th>Numero do Cartão SUS</th>
                  <th>Nome</th>
                  <th>Editar</th>
                  <th>Excluir</th>
                </tr>
              </thead>
 <tbody>

{% csrf_token %}
{% for Paciente in object_list %}
<tr>
<td><a href="/inicio/detail/{{Paciente.pk}}">{{ Paciente.cartao_SUS }}</a></td>
<td>{{ Paciente.nome}}</td>
<td><a href="/inicio/edit/{{Paciente.pk}}"><i class="icon-edit"></i></td></a>
<td> <a  href="/inicio/delete/{{Paciente.pk}}" class="icon-remove"></i></a></td>
</tr>
{% endfor %}
<tbody>
</table>

     {% endblock content %} 