{% extends "base.html" %}


{% block content %}

<div class="container">
 <div class="hero-unit" >
     <h2>Tem certeza que deseja excluir o Prontuario de codigo:{{ object.codigo_Prontuario }}?</h2>
     <h1></h1>
     <h1></h1>

     
    <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

            <button  class="btn btn-large" type="submit">Sim</button>
            <a href="/inicio/lista"><button class="btn btn-large" type="button">Não</button></a>
        </form> 


  </div>  



</div>












     {% endblock content %} 