{% extends "base.html" %}


{% block content %}

<div class="container">


 <div class="hero-unit" >

 

<div class="btn-group pull-right">
 <a href="/prontuario/lista/" ><button class="btn">Voltar</button></a>
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Opções<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/prontuario/edit/{{object.codigo_Prontuario}}">Editar Prontuario</a></li>
    <li class="divider"></li>
    <li><a href="/prontuario/delete/{{object.codigo_Prontuario}}">Excluir Prontuario</a></li>
    <li class="divider"></li>
    <li><a href="/prontuario/print/{{object.codigo_Prontuario}}" target="_blank">Imprimir Prontuario</a></li>
    <li class="divider"></li>
    <li><a href="/prontuario/historico/{{object.codigo_Prontuario}}">Historico</a></li>
    </ul>
</div>



   <div class="page-header">
     <h1>Detalhes do Prontuario</h1>
   </div>
        <hr size="1"> 
        <p><strong>Codigo do Prontuario: </strong>{{ object.codigo_Prontuario}}</p>  
        <p><strong>Data da Consulta: </strong>{{ object.data_Consulta}}</p> 
        <hr size="1"> 
        <p><strong>Nome Do Pacientes: </strong>{{ object.paciente.nome }}</p>            
        <p><strong>CPF: </strong>{{ object.paciente.cpf }}</p> 
        <p><strong>Numero do Cartão SUS: </strong>{{ object.paciente.cartao_SUS }}</p> 
        <p><strong>Queixa Relatada: </strong>{{ object.paciente.queixaPrincipal }}</p> 
        
        <hr size="10"> 
        
        {% for medico in object.medico.all %}
        <p><strong>Medico: </strong>{{medico.nome}}</p>  
        <p><strong>CRM: </strong>{{medico.CRM }}</p>             
        <p><strong>Espcialidade do Medico: </strong>{{medico.especialidade }}</p> 
        {% endfor %} 
        
        
        <hr size="10">  
        <p><strong>Remedios: </strong></p> 
        {% for remedio in object.remedio.all %}
        <p>{{remedio.descricao_Medicamento}}</p>
        {% endfor %} 
        <hr size="10"> 

                
  </div>  
</div>












     {% endblock content %} 